<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>用户登录</title>
		<script src="js/vue.js"></script>
		<script src="js/axios.min.js"></script>
		<script src="js/index.js"></script>
		<link href="css/index.css" rel="stylesheet" />
	</head>
	<body>
		<div id="loginApp">
			<el-row>
				<el-col :span=6 :offset=9>
					<el-card>
						<h1>用户登录</h1>
						<el-form>
							<el-form-item>
								<!-- vue提供的 v-model:输入框绑定变量的指令，双向绑定：input输入可以传给代码，代码修改也可以传给input输入框 -->
								<el-input v-model="username" placeholder="请输入用户名"></el-input>
							</el-form-item>
							<el-form-item>
								<el-input v-model="password" placeholder="请输入密码" show-password></el-input>
							</el-form-item>
							<el-form-item>
								<!-- vue提供的v-on：事件触发指令，一般用@简写 -->
								<el-button type="primary" @click="login">登录</el-button>
							</el-form-item>
						</el-form>
					</el-card>
				</el-col>
			</el-row>
		</div>
	</body>

	<script>
		new Vue({
			// vue对象的作用范围
			el: "#loginApp",
			data() {
				return {
					username: '',
					password: ''
				}
			},

			methods: {
				login() {
					// 获取username和password，封装成对象方便传输给Java后端
					let p = {};
					p.username = this.username;
					p.password = this.password;

					// 通过axios发送请求
					axios.post('http://localhost:8088/user/login', p)
						.then(result => {
							console.log(result);
							let data = result.data;
							if(data.code == 200) {
								// code=200表示登录成功，使用element-ui弹窗提示成功
								this.$message.success(data.msg);
								
								// 把username保存到页面缓存中，供后面的页面使用
								sessionStorage.setItem("username", this.username);
								
								// 页面跳转
								location.href = 'index.html';
							} else {
								// code=500表示登录有误
								this.$message.warning(data.msg);
							}
						})
				}
			}
		})
	</script>

	<style>
		.el-row {
			margin-top: 200px;
			text-align: center;
		}

		body {
			background-image: url(img/back.svg);
			background-repeat: no-repeat;
			overflow: hidden;
		}
	</style>
</html>
